# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# Database (KHÔNG commit file CSDL thật)
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

.secret_key

app/static/uploads/internal/*
!app/static/uploads/internal/.gitkeep